<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMI - Control Panel</title>
    <link rel="stylesheet" href="/static/panel.css">
</head>
<body>
    <div class="container">
        <h1 class="title">HMI {{n_plc}} - Control Panel</h1>
        <section>
            <h2>Flow Rate</h2>
            <div id="flow_rate"></div>
            <input type="text" id="flow_box" name="flow_box" placeholder="Enter flow rate">
            <button type="button" id="flowButton">Update</button>
        </section>
        <section>
            <h2>Drain Rate</h2>
            <div id="drain_rate"></div>
            <input type="text" id="drain_box" name="drain_box" placeholder="Enter drain rate">
            <button type="button" id="drainButton">Update</button>
        </section>
        <section>
            <h2>Water Level</h2>
            <div id="level"></div>
        </section>
        <section>
            <h2>Flow Control</h2>
            <label for="flow" class="switch">
                <input id="flow" name="flow" type="checkbox">
                <span class="slider round"></span> 
            </label>
        </section>
        <section>
            <h2>Drain Control</h2>
            <label for="drain" class="switch">
                <input id="drain" name="drain" type="checkbox">
                <span class="slider round"></span>
            </label>
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/checkbox.js"></script>
    <script src="/static/update_values.js"></script>
    <script src="/static/update_monitor.js"></script>
</body>
</html>
